@import url('../Global.css');

.Testimonial-card{
    width: 197px;
    height: 178px;
    display: flex;
    background-color: var(--secondary-color-1);
    justify-content: center;
    border-radius: 16px;
}

.Testimonial-card > div{
    width:166px;
    height: 137px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:22px;
}

.Testimonial-card > div > div:first-child {
    display: flex;
    gap: 5px;
}

.Testimonial-card > div > div:first-child > img{
   width:17px;
   height: 18px;
   object-fit: cover;
}

.Testimonial-card > div > div:nth-child(2){
    display: flex;
    gap:10px;
}

.Testimonial-card > div > div:nth-child(2) > img{
    width:32px;
    height: 32px;
    object-fit: cover;
    border-radius: 25px;
}

.Testimonial-card > div > div:nth-child(2) > div{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.Testimonial-card > div > div:nth-child(2)  p:first-child{
    font-family: var(--font-style-1);
    font-weight: 800;
    font-size: small;
    margin: 0;
}

.Testimonial-card > div > div:nth-child(2)  p:nth-child(2){
    font-family: var(--font-style-1);
    color: var(--primary-color-1);
    font-weight: 800;
    font-size: small;
    margin: 0;
}

.Testimonial-card > div > p{
    font-family: var(--font-style-1);
    color: var(--primary-color-1);
    font-size: small;
    margin:0;
}





